<div class="container">
  <form
    [formGroup]="regForm"
    (ngSubmit)="submit()"
  >
    <div class="name">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        formControlName="name"
      >
    </div>
    <div class="email">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        formControlName="email"
      >
    </div>
    <div class="password">
      <label for="pass">Password:</label>
      <input
        type="password"
        id="pass"
        formControlName="password"
      >
    </div>
    <div class="password">
      <label for="passConf">Confirm password:</label>
      <input
        type="password"
        id="passConf"
        formControlName="confirmPassword"
      >
    </div>
    <div class="age">
      <label for="age">Age:</label>
      <input
        type="text"
        id="age"
        formControlName="age"
      >
    </div>

    <div class="btn-container">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="regForm.invalid"
      >
        Registration
      </button>

      <mat-icon
        class="info"
        (click)="showInfo()"
      >
        info
      </mat-icon>
    </div>
  </form>
</div>
