<div class="container">
  <mat-icon (click)="closeModal()">clear</mat-icon>
  <h5>Registration form:</h5>
  <ul>
    <li><i><span>Name</span>:</i>
      <ul class="li">
        <li>only <span>latin</span> or <span>cyrillic</span> symbols</li>
      </ul>
    </li>
    <li><i><span>Password</span>:</i>
      <ul class="li">
        <li>min <span>length 8</span> symbols</li>
        <li>at least <span>one lowercase</span> letter</li>
        <li>at least <span>one uppercase</span> letter</li>
        <li>at least <span>one digit</span> </li>
        <li>at least <span>one symbol</span></li>
      </ul>
    </li>
  </ul>
</div>
