@mixin flexible() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  @include flexible();
  position: relative;
  mat-icon {
    position: absolute;
    top: -20px;
    right: -20px;
    opacity: .3;
    cursor: pointer;
  }
  ul {
    @include flexible();
    list-style: none;
    padding-left: 0;
    width: 100%;
    span {
      font-weight: bold;
    }
    & li {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}
