header {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;

      h1 {
        padding: 10px;
        border-radius: 25px;
        background: rgba(254, 255, 158, 0.78);
      }
    }
  }
  .btn-login {
    position: fixed;
    top: 3%;
    right: 3%;
    background: red;
  }
}

hr {
  width: 50%;
}
