//.stars {
//  i ::ng-deep {
//    & svg {
//      width: 50px;
//      height: 50px;
//    }
//    & :hover {
//      cursor: pointer;
//      fill: red;
//    }
//  }
//}
.stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-bottom: 16px;

  i {
    &:hover {
      cursor: pointer;
    }

    & ::ng-deep svg {
      width: 50px;
      height: 50px;
      pointer-events: none;
    }

    &.active ::ng-deep g {
      fill: red;
    }
  }
}
