.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 16px;

    i {
      &:hover {
        cursor: pointer;
      }

      & ::ng-deep svg {
        width: 50px;
        height: 50px;
        pointer-events: none;
      }

      &.active ::ng-deep g {
        fill: #ff0000;
      }
    }
  }

  button {
    align-self: flex-end;
  }
}
